.bg-main-primary {
  background-color: #89898b; }

.bg-primary {
  background-color: #ffeb33; }

.bg-common {
  background-color: #131316; }

.bg-dark {
  background-color: #424245; }

.bg-light {
  background-color: #ffffff; }
