.bg{
  &-main-primary{
    background-color:#89898b;
  }
  &-primary{
    background-color:#ffeb33;
  }
  &-common{
    background-color:#131316;
  }
  &-dark{
    background-color:#424245;
  }
  &-light {
    background-color: #ffffff;
  }
}


